<a href="https://colab.research.google.com/github/mandooteacher/2021-agj-/blob/main/matplotlib%EC%8B%9C%EA%B0%81%ED%99%94.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
cd "/content/drive/MyDrive"

/content/drive/MyDrive

In [ ]:
!git clone https://github.com/mandooteacher/2021-agj-.git

Cloning into '2021-agj-'...
remote: Enumerating objects: 15, done.
remote: Counting objects: 100% (15/15), done.
remote: Compressing objects: 100% (12/12), done.
remote: Total 15 (delta 3), reused 10 (delta 1), pack-reused 0
Unpacking objects: 100% (15/15), done.

In [ ]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/2021-agj-/age.csv', \
                 skiprows=6, header=1, encoding='cp949')
df.head()

   서울특별시 강남구 삼성1동(1168058000)  13,105   51  51.1  ... 16.1   6,621  25 25.1
0  서울특별시 강남구 삼성2동(1168059000)  29,529  157   157  ...   77  15,364  65   65
1  서울특별시 강남구 대치1동(1168060000)  24,444   29    29  ...   18  12,068  21   21
2  서울특별시 강남구 대치2동(1168061000)  36,518   87    87  ...   46  17,856  46   46
3  서울특별시 강남구 대치4동(1168063000)  19,997   37    37  ...   17  10,609  21   21
4  서울특별시 강남구 역삼1동(1168064000)  35,495  100   100  ...   52  18,335  51   51

[5 rows x 28 columns]